# Gemini Records:
[epicsmenuname] menuSymbolEpics3 Gemini Records
[epicsmenu] menuSymbolEpics3 Gemini Apply
 eapply
[epicsmenu] menuSymbolEpics3 Gemini CAD2
 ecad2
[epicsmenu] menuSymbolEpics3 Gemini CAD4
 ecad4
[epicsmenu] menuSymbolEpics3 Gemini CAD8
 ecad8
[epicsmenu] menuSymbolEpics3 Gemini CAD20
 ecad20
[epicsmenu] menuSymbolEpics3 Gemini CAR
 ecars
[epicsmenu] menuSymbolEpics3 Gemini Cmd Timeout
 ecmdTimeout
[epicsmenu] menuSymbolEpics3 GenSub (10)
 egenSub
[epicsmenu] menuSymbolEpics3 GenSub (21A)
 egenSubA
[epicsmenu] menuSymbolEpics3 GenSub (21B lnks)
 egenSubB
[epicsmenu] menuSymbolEpics3 GenSub (21C vals)
 egenSubC
[epicsmenu] menuSymbolEpics3 GenSub (21D inlnks)
 egenSubD
[epicsmenu] menuSymbolEpics3 GenSub (21E l-vals)
 egenSubE
[epicsmenu] menuSymbolEpics3 GenSub (21F all)
 egenSubF
[epicsmenu] menuSymbolEpics3 LUT In (L)
 elutin
[epicsmenu] menuSymbolEpics3 LUT In (S)
 elutins
[epicsmenu] menuSymbolEpics3 LUT Out (L)
 elutout
[epicsmenu] menuSymbolEpics3 LUT Out (S)
 elutouts
[epicsmenu] menuSymbolEpics3 Gemini SIR
 esirs
[epicsmenu] menuSymbolEpics3 Gemini Status
 estatus

